
@import url('https://fonts.googleapis.com/css?family=Raleway')
@import url('https://fonts.googleapis.com/css?family=Oswald')
@import url('https://fonts.googleapis.com/css?family=Courgette')

html, body {
	min-height: 100%;
}
body {
	background-image: url('./images/blur.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 100%
	width: 100%;
}
.header {
	height: 100%;
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	bottom: 0;
}
.headerContent {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	display: inline;
	padding: 5px;

}
.nav {
	max-width: 700px;
	padding-bottom: 20px;
	margin: 0 auto;
	text-align: center;

}
.nav h1 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 500%;
}
.nav h4 {
	font-family: 'Courgette';
	font-style: italic;
	color: #fff;
}
.button {
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #fff 3px;
	text-transform: uppercase;
	text-decoration: none;
}
.button:hover {
	border: solid rgb(206, 33, 96) 3px;
}
p {
	font-size: 160%;
	line-height: 210%;
	text-align: justify;
	margin: 3%;
	font-family: sans-serif;
}
@media screen and (max-width: 768px) {
	.nav h1 {
		font-size: 250%;
	}
	.button {
		font-size: 110%;
		padding: 7px 15px;
	}
	p {
		font-size: 100%;
		line-height: 160%;
	}
}